.DS_Store
*/__pycache__/*
.python-version
*.so
*.pyc
*.egg-info/
*.pth
*/.ipynb_checkpoints/*
.ipynb_checkpoints/
flagged/

datasets/stanford2d3d-processed/stanford2d3d_crop
datasets/stanford2d3d-processed/stanford2d3d_warp
datasets/stanford2d3d-processed/test

datasets/tartanair-processed/tartanair_crop
datasets/tartanair-processed/tartanair_warp
datasets/tartanair-processed/test

datasets/living_room
datasets/gsv/google_street_view_191210
datasets/gsv/gsv_test_crop_uniform

datasets/eth3d/*/images
datasets/eth3d/multi_view_test_dslr_jpg.7z


exp/
output/